/*
* Light theme = Catppuccin latte
* Dark theme = Catppuccin Mocha
*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --font-app: var(--font-google-sans-code);
}

:root,
[data-theme="light"] {
  --background: #eff1f5; /* Base */
  --foreground: #4c4f69; /* Text */
  --accent: #8839ef; /* Mauve */
  --accent-foreground: #eff1f5; /* Base */
  --muted: #ccd0da; /* Surface 0 */
  --muted-foreground: #7c7f93; /* Overlay 0 */
  --border: #bcc0cc; /* Surface 1 */
}

[data-theme="dark"] {
  --background: #1e1e2e; /* Base */
  --foreground: #cdd6f4; /* Text */
  --accent: #cba6f7; /* Mauve */
  --accent-foreground: #11111b; /* Crust */
  --muted: #313244; /* Surface 0 */
  --muted-foreground: #9399b2; /* Overlay 2 */
  --border: #45475a; /* Surface 1 */
}
