@plugin "@tailwindcss/typography";

@layer base {
  /* ===== Override default Tailwind Typography styles ===== */
  .app-prose {
    @apply prose;

    h1,
    h2,
    h3,
    h4,
    th {
      @apply text-foreground mb-3;
    }

    h3 {
      @apply italic;
    }

    p,
    strong,
    ol,
    ul,
    figcaption,
    table,
    code {
      @apply text-foreground;
    }

    a {
      @apply text-foreground hover:text-accent wrap-break-word decoration-dashed underline-offset-4 focus-visible:no-underline;
    }

    ul {
      @apply overflow-x-clip;
    }

    li {
      @apply marker:text-accent;
    }

    hr {
      @apply border-border;
    }

    img {
      @apply border-border mx-auto border;
    }

    figcaption {
      @apply opacity-75;
    }

    table {
      th,
      td {
        @apply border-border border p-2;
      }

      th {
        @apply py-1.5;
      }
    }

    code {
      @apply bg-muted/75 text-foreground rounded p-1 wrap-break-word before:content-none after:content-none;
    }

    .astro-code code {
      @apply flex-[1_0_100%] bg-inherit p-0;
    }

    blockquote {
      @apply border-s-accent/80 wrap-break-word opacity-80;
    }

    .markdown-alert {
      @apply bg-muted/30 border-accent my-4 rounded-r-md border-s-4 p-4;
    }
    .markdown-alert-note,
    .markdown-alert-tip,
    .markdown-alert-important,
    .markdown-alert-warning,
    .markdown-alert-caution {
      @apply text-foreground;
    }
    .markdown-alert-title::before {
      @apply mr-2 inline-block h-4 w-4 shrink-0 bg-current content-[""];
      mask-size: contain;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      vertical-align: middle;
    }
    .markdown-alert-note .markdown-alert-title::before {
      mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3C%21--%21Font%20Awesome%20Free%20v7.2.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202026%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M272%20112C272%2085.5%20293.5%2064%20320%2064C346.5%2064%20368%2085.5%20368%20112C368%20138.5%20346.5%20160%20320%20160C293.5%20160%20272%20138.5%20272%20112zM224%20256C224%20238.3%20238.3%20224%20256%20224L320%20224C337.7%20224%20352%20238.3%20352%20256L352%20512L384%20512C401.7%20512%20416%20526.3%20416%20544C416%20561.7%20401.7%20576%20384%20576L256%20576C238.3%20576%20224%20561.7%20224%20544C224%20526.3%20238.3%20512%20256%20512L288%20512L288%20288L256%20288C238.3%20288%20224%20273.7%20224%20256z%22%2F%3E%3C%2Fsvg%3E");
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3C%21--%21Font%20Awesome%20Free%20v7.2.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202026%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M272%20112C272%2085.5%20293.5%2064%20320%2064C346.5%2064%20368%2085.5%20368%20112C368%20138.5%20346.5%20160%20320%20160C293.5%20160%20272%20138.5%20272%20112zM224%20256C224%20238.3%20238.3%20224%20256%20224L320%20224C337.7%20224%20352%20238.3%20352%20256L352%20512L384%20512C401.7%20512%20416%20526.3%20416%20544C416%20561.7%20401.7%20576%20384%20576L256%20576C238.3%20576%20224%20561.7%20224%20544C224%20526.3%20238.3%20512%20256%20512L288%20512L288%20288L256%20288C238.3%20288%20224%20273.7%20224%20256z%22%2F%3E%3C%2Fsvg%3E");
    }
    .markdown-alert-tip .markdown-alert-title::before {
      mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3C%21--%21Font%20Awesome%20Free%20v7.2.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202026%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M420.9%20448C428.2%20425.7%20442.8%20405.5%20459.3%20388.1C492%20353.7%20512%20307.2%20512%20256C512%20150%20426%2064%20320%2064C214%2064%20128%20150%20128%20256C128%20307.2%20148%20353.7%20180.7%20388.1C197.2%20405.5%20211.9%20425.7%20219.1%20448L420.8%20448zM416%20496L224%20496L224%20512C224%20556.2%20259.8%20592%20304%20592L336%20592C380.2%20592%20416%20556.2%20416%20512L416%20496zM312%20176C272.2%20176%20240%20208.2%20240%20248C240%20261.3%20229.3%20272%20216%20272C202.7%20272%20192%20261.3%20192%20248C192%20181.7%20245.7%20128%20312%20128C325.3%20128%20336%20138.7%20336%20152C336%20165.3%20325.3%20176%20312%20176z%22%2F%3E%3C%2Fsvg%3E");
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3C%21--%21Font%20Awesome%20Free%20v7.2.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202026%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M420.9%20448C428.2%20425.7%20442.8%20405.5%20459.3%20388.1C492%20353.7%20512%20307.2%20512%20256C512%20150%20426%2064%20320%2064C214%2064%20128%20150%20128%20256C128%20307.2%20148%20353.7%20180.7%20388.1C197.2%20405.5%20211.9%20425.7%20219.1%20448L420.8%20448zM416%20496L224%20496L224%20512C224%20556.2%20259.8%20592%20304%20592L336%20592C380.2%20592%20416%20556.2%20416%20512L416%20496zM312%20176C272.2%20176%20240%20208.2%20240%20248C240%20261.3%20229.3%20272%20216%20272C202.7%20272%20192%20261.3%20192%20248C192%20181.7%20245.7%20128%20312%20128C325.3%20128%20336%20138.7%20336%20152C336%20165.3%20325.3%20176%20312%20176z%22%2F%3E%3C%2Fsvg%3E");
    }
    .markdown-alert-important .markdown-alert-title::before {
      mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3C%21--%21Font%20Awesome%20Free%20v7.2.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202026%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M160%2096C160%2078.3%20174.3%2064%20192%2064L448%2064C465.7%2064%20480%2078.3%20480%2096C480%20113.7%20465.7%20128%20448%20128L418.5%20128L428.8%20262.1C465.9%20283.3%20494.6%20318.5%20507%20361.8L510.8%20375.2C513.6%20384.9%20511.6%20395.2%20505.6%20403.3C499.6%20411.4%20490%20416%20480%20416L160%20416C150%20416%20140.5%20411.3%20134.5%20403.3C128.5%20395.3%20126.5%20384.9%20129.3%20375.2L133%20361.8C145.4%20318.5%20174%20283.3%20211.2%20262.1L221.5%20128L192%20128C174.3%20128%20160%20113.7%20160%2096zM288%20464L352%20464L352%20576C352%20593.7%20337.7%20608%20320%20608C302.3%20608%20288%20593.7%20288%20576L288%20464z%22%2F%3E%3C%2Fsvg%3E");
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3C%21--%21Font%20Awesome%20Free%20v7.2.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202026%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M160%2096C160%2078.3%20174.3%2064%20192%2064L448%2064C465.7%2064%20480%2078.3%20480%2096C480%20113.7%20465.7%20128%20448%20128L418.5%20128L428.8%20262.1C465.9%20283.3%20494.6%20318.5%20507%20361.8L510.8%20375.2C513.6%20384.9%20511.6%20395.2%20505.6%20403.3C499.6%20411.4%20490%20416%20480%20416L160%20416C150%20416%20140.5%20411.3%20134.5%20403.3C128.5%20395.3%20126.5%20384.9%20129.3%20375.2L133%20361.8C145.4%20318.5%20174%20283.3%20211.2%20262.1L221.5%20128L192%20128C174.3%20128%20160%20113.7%20160%2096zM288%20464L352%20464L352%20576C352%20593.7%20337.7%20608%20320%20608C302.3%20608%20288%20593.7%20288%20576L288%20464z%22%2F%3E%3C%2Fsvg%3E");
    }
    .markdown-alert-warning .markdown-alert-title::before {
      mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3C%21--%21Font%20Awesome%20Free%20v7.2.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202026%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M320%2064C334.7%2064%20348.2%2072.1%20355.2%2085L571.2%20485C577.9%20497.4%20577.6%20512.4%20570.4%20524.5C563.2%20536.6%20550.1%20544%20536%20544L104%20544C89.9%20544%2076.8%20536.6%2069.6%20524.5C62.4%20512.4%2062.1%20497.4%2068.8%20485L284.8%2085C291.8%2072.1%20305.3%2064%20320%2064zM320%20416C302.3%20416%20288%20430.3%20288%20448C288%20465.7%20302.3%20480%20320%20480C337.7%20480%20352%20465.7%20352%20448C352%20430.3%20337.7%20416%20320%20416zM320%20224C301.8%20224%20287.3%20239.5%20288.6%20257.7L296%20361.7C296.9%20374.2%20307.4%20384%20319.9%20384C332.5%20384%20342.9%20374.3%20343.8%20361.7L351.2%20257.7C352.5%20239.5%20338.1%20224%20319.8%20224z%22%2F%3E%3C%2Fsvg%3E");
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3C%21--%21Font%20Awesome%20Free%20v7.2.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202026%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M320%2064C334.7%2064%20348.2%2072.1%20355.2%2085L571.2%20485C577.9%20497.4%20577.6%20512.4%20570.4%20524.5C563.2%20536.6%20550.1%20544%20536%20544L104%20544C89.9%20544%2076.8%20536.6%2069.6%20524.5C62.4%20512.4%2062.1%20497.4%2068.8%20485L284.8%2085C291.8%2072.1%20305.3%2064%20320%2064zM320%20416C302.3%20416%20288%20430.3%20288%20448C288%20465.7%20302.3%20480%20320%20480C337.7%20480%20352%20465.7%20352%20448C352%20430.3%20337.7%20416%20320%20416zM320%20224C301.8%20224%20287.3%20239.5%20288.6%20257.7L296%20361.7C296.9%20374.2%20307.4%20384%20319.9%20384C332.5%20384%20342.9%20374.3%20343.8%20361.7L351.2%20257.7C352.5%20239.5%20338.1%20224%20319.8%20224z%22%2F%3E%3C%2Fsvg%3E");
    }
    .markdown-alert-caution .markdown-alert-title::before {
      mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3C%21--%21Font%20Awesome%20Free%20v7.2.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202026%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M320%20496C342.1%20496%20360%20513.9%20360%20536C360%20558.1%20342.1%20576%20320%20576C297.9%20576%20280%20558.1%20280%20536C280%20513.9%20297.9%20496%20320%20496zM320%2064C346.5%2064%20368%2085.5%20368%20112C368%20112.6%20368%20113.1%20368%20113.7L352%20417.7C351.1%20434.7%20337%20448%20320%20448C303%20448%20289%20434.7%20288%20417.7L272%20113.7C272%20113.1%20272%20112.6%20272%20112C272%2085.5%20293.5%2064%20320%2064z%22%2F%3E%3C%2Fsvg%3E");
      -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3C%21--%21Font%20Awesome%20Free%20v7.2.0%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202026%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M320%20496C342.1%20496%20360%20513.9%20360%20536C360%20558.1%20342.1%20576%20320%20576C297.9%20576%20280%20558.1%20280%20536C280%20513.9%20297.9%20496%20320%20496zM320%2064C346.5%2064%20368%2085.5%20368%20112C368%20112.6%20368%20113.1%20368%20113.7L352%20417.7C351.1%20434.7%20337%20448%20320%20448C303%20448%20289%20434.7%20288%20417.7L272%20113.7C272%20113.1%20272%20112.6%20272%20112C272%2085.5%20293.5%2064%20320%2064z%22%2F%3E%3C%2Fsvg%3E");
    }

    .markdown-alert-icon {
      @apply hidden;
    }
    .markdown-alert-content p {
      @apply mb-0;
    }

    details {
      @apply text-foreground inline-block cursor-pointer select-none [&_p]:hidden [&_ul]:my-0!;
    }

    summary {
      @apply focus-visible:outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-dashed;
    }

    pre {
      @apply focus-visible:outline-accent focus-visible:border-transparent focus-visible:outline-2 focus-visible:outline-dashed;
    }
  }

  /* ===== Code Blocks & Syntax Highlighting ===== */
  .astro-code {
    @apply outline-border flex border bg-(--shiki-light-bg) text-(--shiki-light) [&_span]:text-(--shiki-light);
  }

  html[data-theme="dark"] .astro-code {
    @apply bg-(--shiki-dark-bg) text-(--shiki-dark) [&_span]:text-(--shiki-dark);
  }

  /* Styles for Shiki transformers */
  /* https://shiki.style/packages/transformers */
  .astro-code {
    .line.diff.add {
      @apply relative inline-block w-full bg-green-400/20 before:absolute before:-left-3 before:text-green-500 before:content-['+'];
    }
    .line.diff.remove {
      @apply relative inline-block w-full bg-red-500/20 before:absolute before:-left-3 before:text-red-500 before:content-['-'];
    }
    .line.highlighted {
      @apply inline-block w-full bg-slate-400/20;
    }
    .highlighted-word {
      @apply border-border rounded-sm border px-0.5 py-px;
    }
  }
}
